.DS_Store
btop
clash
emacs
exercism
fish/conf.d/
fish/completions/
fish/fish_variables
fish/functions/
fish/secrets.fish
gh/
github-copilot/
htop
kitty
mise
nvim/plugin/
nvim/lazy-lock.json
pgcli
raycast
tags
zed
